html 
    body
      style
        include styles.css
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
      h1 imageVerify
      ul
        each image in images
          img(src=image.url id='whatisthis')
          form(action = '/' method = "POST")
            input(type='submit', id='img' value=image.choices[1])
          form(action = '/loose' method = "POST")
            input(type='submit', id='img2' value=image.choices[0])
            
            input(type='submit', id='img3' value=image.choices[2])
            
            input(type='submit', id='img4' value=image.choices[3])